<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Edward and Bethan's Wedding</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />

    </head>
    <body>
        <div class='container'>
        <h1>RSVP for {{email}}</h1>
        <p>You have responded for the following guests:</p>

		<table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Can Attend?</th>
                <th>Has Dietary Requirements?</th>
                <th>Dietary Requirement Details</th>
                {% if day_guest %}
                <th>Needs Transport</th>
                {% endif %}
            </tr>
            <tbody>
                {% for guest in guests %}
				<tr>
                    <td>{{guest.firstname}}</td>
                    <td>{{guest.lastname}}</td>
                    <td>{% if guest.isAttending == 'true' %}Yes{% else %}No{% endif %}</td>
                    <td>{% if guest.hasDiet == 'true' %}Yes{% else %}No{% endif %}</td>
                    <td>{{guest.dietDetails}}</td>
                    {% if day_guest %}
                    <td>{% if guest.needsTransport == 'true' %}Yes{% else %}No{% endif %}</td>
                    {% endif %}
				</tr>
                {% endfor %}
            <tbody>
		</table>

        {% if message is not none and message != '' %}
        <p>You left us the following message:</p>
        <div class="container">
            <div class="row white card card-body">
                <p>{{message}}</p>
            </div>
        </div>
        <br />
        {% endif %}

        <center>
            <a href='?edit=1'>Make changes</a> | <a href='/site'>Back to Main Site</a>
        </center>
        </div>
    </body>
</html>
