<html>
    <head>
        <title>RSVP for Bethan and Edward's Wedding</title>
    </head>
    <body>
        <h1>RSVP for {{email}}</h1>
        <p>You have responded for the following guests:</p>

		<table >
			<tbody>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Can Attend?</td>
					<td>Dietary Requirements</td>
				</tr>
                {% for guest in guests %}
				<tr>
                    <td>{{guest.firstname}}</td>
                    <td>{{guest.lastname}}</td>
                    <td>{{guest.isAttending}}</td>
                    <td>{{guest.dietDetails}}</td>
				</tr>
                {% endfor %}
			</tbody>
		</table>

		<a href='#'>Make changes</a>
 
        <p>
            <a href='/site'>Back to main site</a>
        </p>

    </body>
</html>
