<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Edward and Bethan's Wedding</title>

        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" 
              crossorigin="anonymous">
    </head>
    <body>
        <div class='container'>
        <h1>RSVP for {{email}}</h1>
        <p>You have responded for the following guests:</p>

		<table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Can Attend?</th>
                <th>Has Dietary Requirements?</th>
                <th>Dietary Requirement Details</th>
            </tr>
            <tbody>
                {% for guest in guests %}
				<tr>
                    <td>{{guest.firstname}}</td>
                    <td>{{guest.lastname}}</td>
                    <td>{% if guest.isAttending == 'true' %}Yes{% else %}No{% endif %}</td>
                    <td>{% if guest.hasDiet == 'true' %}Yes{% else %}No{% endif %}</td>
                    <td>{{guest.dietDetails}}</td>
				</tr>
                {% endfor %}
            <tbody>
		</table>

        <center>
            <a href='?edit=1'>Make changes</a> | <a href='/site'>Back to main site</a>
        </center>
        </div>
    </body>
</html>
