<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Edward and Bethan's Wedding</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
            function numGuestsChange() {
                const numGuests = parseInt(document.getElementById('numGuests').value, 10);

                for (let i = 1; i < 1 + numGuests; i++) {
                    const elem = document.getElementById(`guest_${i}`).style.display = 'block';
                }
                for (let i = numGuests+1; i < 10; i++) {
                    const elem = document.getElementById(`guest_${i}`).style.display = 'none';
                }
            }

            function changeAttend(i) {
                const isAttending = document.getElementById(`guest_${i}_attending`).checked;
                document.getElementById(`guest_${i}_has_diet`).value = 'false';
                document.getElementById(`guest_${i}_diet`).style.display = isAttending ? 'block' : 'none';

                {% if day_guest %}
                document.getElementById(`guest_${i}_needs_transport`).value = 'true';
                document.getElementById(`guest_${i}_transport`).style.display = isAttending ? 'block' : 'none';
                {% endif %}

                changeDiet(i);
            }

            function changeDiet(i) {
                const hasDiet = document.getElementById(`guest_${i}_has_diet`).checked;
                document.getElementById(`guest_${i}_diet_details_text`).value = '';
                document.getElementById(`guest_${i}_diet_details`).style.display = hasDiet ? 'block' : 'none';
            }

            function handleSubmit() {
                let guests = [];

                const numGuests = parseInt(document.getElementById('numGuests').value, 10);

                for (let i = 1; i < 1 + numGuests; i++) {
                    const isAttending = document.getElementById(`guest_${i}_attending`).checked;

                    const guest = {
                        firstname: document.getElementById(`guest_${i}_firstname`).value.trim(),
                        lastname: document.getElementById(`guest_${i}_lastname`).value.trim(),
                        isAttending: isAttending ? 'true' : 'false',
                        hasDiet: isAttending && document.getElementById(`guest_${i}_has_diet`).checked ? 'true' : 'false',
                        dietDetails: document.getElementById(`guest_${i}_diet_details_text`).value.trim(),
                    {% if day_guest %}
						needsTransport: isAttending && document.getElementById(`guest_${i}_needs_transport`).checked ? 'true' : 'false',
                    {% else %}
                        needsTransport: 'false',
                    {% endif %}
                    };

                    if (guest.firstname == '') {
                        alert(`Guest ${i} is missing a first name`);
                        return;
                    }

                    if (!guest.lastname) {
                        alert(`Guest ${i} is missing a last name`);
                        return;
                    }

                    if (guest.hasDiet == 'true' && !guest.dietDetails) {
                        alert(`Guest ${i} is missing diet details`);
                        return;
                    }

                    guests.push(guest);
                }

                console.log(JSON.stringify(guests));

				$.post("/update_rsvp", { guests: JSON.stringify(guests) }, (data) => {
                    if (data == 'OK') {
					   window.location.href = "/rsvp";
                    }
                    else if (data == 'NOPE') {
                        alert('Nice try!');
                    }
				});
            }

            function fillLastNames(index) {
                const lastname = document.getElementById(`guest_${index}_lastname`).value;
                const numGuests = parseInt(document.getElementById('numGuests').value, 10);
                for (let i = 1; i < 1 + numGuests; i++) {
                    document.getElementById(`guest_${i}_lastname`).value = lastname;
                }
            }

            function gotoMainSite() {
                const proceed = confirm("If you have any unsaved changes, they will be lost")
                if (proceed) {
                    window.location.href = '/site';
                }
            }

            window.onbeforeunload = function() {
                return "You may have unsaved work!";
            }

            $(function(){
                $('a').click(function(){
                    window.onbeforeunload = null;
                });
            });

        </script>

    </head>
    <body>

        <!-- Had to put it here to get it to work! -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>

        <div class='container'>
        <h1>RSVP for {{ email }}</h1>

        Number of guests you'd like to RSVP for (including you):
        <select id='numGuests' onchange='numGuestsChange()' style='width: 100px'>
            {% for i in range(1, 10) %}
            <option value="{{i}}" {% if i == numGuestsSelected %} selected {% endif %}>{{i}}</option>
            {% endfor %}
        </select>

        {% for guest in guests %}
        <div id="guest_{{loop.index}}"  {% if loop.index > numGuestsSelected %}style='display:none'{% endif %}>
            <h2>Guest {{loop.index}} {% if loop.index == 1 %}(You){% endif %}</h2>
            <form action="javascript:void()" class='ml-2'>

                <div class='form-row'>
                    <div class='form-group col-md-6'>
                        <label>First Name</label>
                        <input id="guest_{{loop.index}}_firstname" type="text" value='{{guest.firstname}}' class='form-control'/>
                    </div>
                    <div class='form-group col-md-6'>
                        <label>
                            Last Name
                            {% if loop.index == 1 %}
                                <a href='#' onclick='fillLastNames({{loop.index}})'>(Fill all last names)</a>
                            {% endif %}
                        </label>
                        <input id="guest_{{loop.index}}_lastname" type="text" value='{{guest.lastname}}' class='form-control'/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input id="guest_{{loop.index}}_attending" onchange="changeAttend({{loop.index}})"  class="form-check-input" type="checkbox" {% if guest.isAttending == 'true'%} checked {% endif %}>
                        <label class="form-check-label" for="guest_{{loop.index}}_attending">
                            Guest will be attending
                        </label>
                    </div>
                </div>

				{% if day_guest %}

                <div  id="guest_{{loop.index}}_transport" {% if guest.isAttending != 'true' %} style='display: none' {% endif %}>
                    <div class="form-group">
                        <div class="form-check">
                            <input id="guest_{{loop.index}}_needs_transport" class="form-check-input" type="checkbox" {% if guest.needsTransport == 'true'%} checked {% endif %}>
                            <label class="form-check-label" for="guest_{{loop.index}}_needs_transport">
                                Guest needs transport from Church to Offham
                            </label>
                        </div>
                    </div>
                </div>

				{% endif %}

                <div  id="guest_{{loop.index}}_diet" {% if guest.isAttending != 'true' %} style='display: none' {% endif %}>


                    <div class="form-group">
                        <div class="form-check">
                            <input id="guest_{{loop.index}}_has_diet" onchange="changeDiet({{loop.index}})"  class="form-check-input" type="checkbox" {% if guest.hasDiet == 'true'%} checked {% endif %}>
                            <label class="form-check-label" for="guest_{{loop.index}}_has_diet">
                                Guest has any dietary requirements (e.g. vegetarian, vegan, celiac, etc.) <a href="#modal" data-toggle="modal" data-target="#exampleModal">(See Menu)</a>
                            </label>
                        </div>
                    </div>

                    <div class='form-row' id="guest_{{loop.index}}_diet_details" {% if guest.hasDiet == 'true' %} style='display: block' {% else %}  style='display: none' {% endif %}>
                        Please describe dietarty requirements:<br/>
                        <textarea id='guest_{{loop.index}}_diet_details_text' class="form-control" rows='3' >{{guest.dietDetails}}</textarea>
                    </div>

                </div>
            </form>
            </div>
            {% endfor %}

            <center>
                <a href='#' onclick='handleSubmit()'>Save Changes</a> | <a href='#' onclick='gotoMainSite()'>Back to Main Site</a>
            </center>

			<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Menu</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
            <div class="container">
                <div class="row">
                    {% if day_guest %}
                    <div class="col-lg-6">
                        <div class="text-center">
                            <h3>Wedding Breakfast</h3>
                        </div>
                        <div class="col-lg-12 white card card-body">
                            <p>From <strong>16:15</strong> until <strong>17:30</strong>
                               A BBQ lunch will be served in the Marquee:</p>
                            <h4>Meats</h4>
                            <ul>
                                <li>Peri Peri chicken breast</li>
                                <li>Sweet and sour king prawns</li>
                                <li>Spiced lamb kofta with a beetroot and apple raita</li>
                                <li>Selection of butchers sausages</li>
                            </ul>
                            <h4>Vegetarian/Vegan Options</h4>
                            <ul>
                                <li>BBQ Jackfruit in buns (Vegan)</li>
                                <li>Spicy Vegan burgers</li>
                                <li>Portobello mushrooms with Tzatzdiki and caramelised onions</li>
                                <li>Halloumi & vegetable kebabs</li>
                            </ul>
                            <h4>Sides/Salads</h4>
                            <ul>
                                <li>Mediterranean vegetables (v)</li>
                                <li>Garlic and rosemary potatoes (v)</li>
                                <li>Greek salad with feta cheese (v)</li>
                                <li>Garlic pesto pasta salad (v)</li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-3">
                    </div>
                    {% endif %}
                    <div class="col-lg-6">
                        <div class="text-center">
                            <h3>Evening</h3>
                        </div>
                        <div class="col-lg-12 white card card-body">
                            <p>From <strong>20:00</strong> until <strong>23:00</strong>
                            there will be a Pizza van</p>
                            <p>Menu <strong>TBC</strong></p>
                            <h4>Pizza</h4>
                            <ul>
                                <li>Marinara Pizza</li>
                                <li>Margherita Pizza</li>
                                <li>Pepperoni Pizza</li>
                                <li>Napoletana Pizza</li>
                                <li>Prosciutto e Funghi Pizza</li>
                                <li>4 Formaggi, Noci, and Porcini Pizza</li>
                                <li>Calabrese Pizza</li>
                                <li>Hawaiian Pizza</li>
                                <li>4 Stagioni Pizza</li>
                                <li>Vegetariana Pizza</li>
                            </ul>
                            <h4>Calzoni</h4>
                            <ul>
                                <li>Verace Calzoni</li>
                                <li>Italian Salumi Calzoni</li>
                            </ul>
                        </div>
                    </div>
                    {% if day_guest %}
                    {% else %}
                    <div class="col-lg-3">
                    </div>
                    {% endif %}
                </div>
            </div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
			</div>

        </div>
    </body>
</html>
