<html>
    <head>
        <title>RSVP for Bethan and Edward's Wedding</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script> 
            function numGuestsChange() {
                const numGuests = parseInt(document.getElementById('numGuests').value, 10);

                for (let i = 1; i < 1 + numGuests; i++) {
                    const elem = document.getElementById(`guest_${i}`).style.display = 'block';
                }
                for (let i = numGuests+1; i < 10; i++) {
                    const elem = document.getElementById(`guest_${i}`).style.display = 'none';
                }
            }

            function changeAttend(i) {
                const isAttending = document.getElementById(`guest_${i}_attending`).value == 'true';
                document.getElementById(`guest_${i}_has_diet`).value = 'false';
                document.getElementById(`guest_${i}_diet`).style.display = isAttending ? 'block' : 'none'; 
                changeDiet(i);
            }

            function changeDiet(i) {
                const hasDiet = document.getElementById(`guest_${i}_has_diet`).value == 'true';
                document.getElementById(`guest_${i}_diet_details_text`).value = '';
                document.getElementById(`guest_${i}_diet_details`).style.display = hasDiet ? 'block' : 'none'; 
            }

            function handleSubmit() {
                let guests = [];

                const numGuests = parseInt(document.getElementById('numGuests').value, 10);

                for (let i = 1; i < 1 + numGuests; i++) {
                    const guest = {
                        firstname: document.getElementById(`guest_${i}_firstname`).value.trim(),
                        lastname: document.getElementById(`guest_${i}_lastname`).value.trim(),
                        isAttending: document.getElementById(`guest_${i}_attending`).value,
                        hasDiet: document.getElementById(`guest_${i}_has_diet`).value,
                        dietDetails: document.getElementById(`guest_${i}_diet_details_text`).value.trim(),
                    };

                    if (guest.firstname == '') {
                        alert(`Guest ${i} is missing a first name`);
                        return;
                    }

                    if (!guest.lastname) {
                        alert(`Guest ${i} is missing a last name`);
                        return;
                    }

                    if (guest.hasDiet == 'true' && !guest.dietDetails) {
                        alert(`Guest ${i} is missing diet details`);
                        return;
                    }

                    guests.push(guest);
                }

                console.log(JSON.stringify(guests));

				$.post("/update_rsvp", { guests: JSON.stringify(guests) }, (data) => {
                    if (data == 'OK') {
					   window.location.href = "/rsvp";
                    }
				});
            }

            function fillLastNames(index) {
                const lastname = document.getElementById(`guest_${index}_lastname`).value;
                const numGuests = parseInt(document.getElementById('numGuests').value, 10);
                for (let i = 1; i < 1 + numGuests; i++) {
                    document.getElementById(`guest_${i}_lastname`).value = lastname;
                }
            }

        </script>

    </head>
    <body>
        <h1>RSVP for {{ email }}</h1>

        Number of guests you'd like to RSVP for:
        <select id='numGuests' onchange='numGuestsChange()'>
            {% for i in range(1, 10) %}
            <option value="{{i}}" {% if i == numGuestsSeldiected %} selected {% endif %}>{{i}}</option>
            {% endfor %}
        </select> 

        {% for guest in guests %}
        <div id="guest_{{loop.index}}"  {% if loop.index > 1 %}style='display:none'{% endif %}>
            <h2>Guest {{loop.index}} {% if i == 1 %}(You!){% endif %}</h2>
                <div>
                    First Name: <input id="guest_{{loop.index}}_firstname" type="text" value='{{guest.firstname}}'/> 
                    Last Name: <input id="guest_{{loop.index}}_lastname" type="text" value='{{guest.lastname}}'/> 
                    {% if loop.index == 1 %}
                    <a href='#' onclick='fillLastNames({{loop.index}})'>(Fill all last names)</a>
                    {% endif %}
                </div>
                <div>
                    Is this guest able to attend? 
                    <select id="guest_{{loop.index}}_attending" onchange="changeAttend({{loop.index}})">
                        <option value="true" {% if guest.isAttending == 'true'%} selected {% endif %}>Yes!</option>
                        <option value="false" {% if guest.isAttending == 'false'%} selected {% endif %} >No</option>
                    </select>
                </div>
                <div id="guest_{{loop.index}}_diet" {% if guest.isAttending == 'false' %} style='display: none' {% endif %}>
                    <div>
                    Does this guest have any dietary requirements? 
                    <select id="guest_{{loop.index}}_has_diet" onchange="changeDiet({{loop.index}})">
                        <option value="false" {% if guest.hasDiet == 'false'%} selected {% endif %} >No</option>
                        <option value="true" {% if guest.hasDiet == 'true'%} selected {% endif %}>Yes</option>
                    </select>
                    <a href="#">(See Menu)</a>
                    </div>
                    <div id="guest_{{loop.index}}_diet_details" {% if guest.hasDiet == 'false' %} style='display: none' {% endif %}>
                        Please describe dietarty requirements:<br/> 
                        <textarea id=guest_{{loop.index}}_diet_details_text value='{{guest.dietDetails}}'></textarea>
                    </div>
                </div>
            </div>
            {% endfor %}

            <p>
                <a href='#' onclick='handleSubmit()'>Submit!</a>
            </p>

            <p>
                <a href='/site'>Back to main site</a>
            </p>
    </body>
</html>
