<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>

            const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            function handleKeydown() {
                if(event.key === 'Enter') {
                    handleSubmit();
                }
            }

            function handleSubmit() {
                const email = document.getElementById('email').value;

                if (!emailRegex.exec(email)) {
                    alert("That is probably not a valid email. Please try another");
                    return;
                }
                
				$.post("/validate_email", { email }, (data) => {
					if (data === "success") {
                       document.getElementById('email-entry').style.display = 'none';
                       document.getElementById('email-confirmation').style.display = 'block';
					}
					else {
                        alert("That is probably not a valid email. Please try another");
					}
				});
            }

            // TODO: Forgive me for my sins I have just begun
            function handleKeydown2() {
                if(event.key === 'Enter') {
                    handleSubmit2();
                }
            }

            // TODO: Forgive me father
            function handleSubmit2() {
                const code = document.getElementById('code').value;
                
				$.post("/validate_code", { code }, (data) => {
					if (data === "success") {
					   window.location.href = "/rsvp";
					}
                    else if (data === 'BLOCKED')
                    {
                        alert('You have entered the wrong code too many times. ' + 
                              'Please wait a few hours and try again.')
                    }
					else {
                        console.log(data)
                        alert("Please enter the code that was sent to your email address");
					}
				});
            }

            function handleSendAgain() {
                const email = document.getElementById('email').value;
                
				$.post("/send_again", { email }, (data) => {
                    if (data == 'BLOCKED') {
                        alert('Try again later. You\'re blocked!');
                    }

                    if (data == 'success')
                    {
                        alert('A new email has been sent to ' + email +  
                              '. Give it a few minutes, if it never turns up: Contact Edward!')
                    }
				});
            }

        </script>
            

        <title>Edward and Bethan's Wedding</title>
    </head>
    <body>
        <div class="text-center">
            <div class="container">
                <h1>Edward &amp; Bethan's Wedding</h1>
                <h2>Saturday 11th August 2018</h2>
            </div>
            <div class="container">
                <div id="email-entry">
                    <h2>RSPV</h2>
                    <p>Please let us know if you can attend by Thursday 31st May 2018</p>
                    <p>Your E-Mail: 
                    <input id="email" type="text" onkeydown="handleKeydown()" value='{{ email }}'/> 
                        <input type="submit" onclick="handleSubmit()" value="&lt;Go&gt;"/>
                    </p>
                </div>
                <div id="email-confirmation" style="display: none">
                    <h2>RSPV</h2>
                    <p>A confirmation code has been sent to your email address, 
                       please copy and paste it here 
                       (<a href='#' onclick='handleSendAgain()'>Send Again</a>)</p>
                    <p>Confirmation code: 
                    <input id="code" type="text" onkeydown="handleKeydown2()" value='{{ code }}'/> 
                    <input type="submit" onclick="handleSubmit2()" value="&lt;Go&gt;"/>
                    </p>
                </div>
            </div>
            {% if day_guest %}
            <div class="container">
                <h2>Ceremony</h2>
                    <h3>St Phillip's Church, Maidstone</h3>
                    <p>Arrive at 12:30 to be seated by 12:45</p>
            </div>
            {% endif %}
            <div class="container">
                <h2>Reception</h2>
                    <h3>Windy Ridge, Offham</h3>
                    {% if day_guest %}
                    <p>15:00 till Late</p>
                    {% else %}
                    <p>19:30 till Late</p>
                    {% endif %}
            </div>
            <div class="container">
                <h2>Gifts</h2>
                <p>
                    As we have lived together for 2 years and are planning on
                    living abroad in the near future, we do not need any physical gifts. Your
                    presence at our day is the most important thing to us. However, if you would
                    like to give a gift, we would be extremely appreciative of any donations
                    towards our honeymoon.
                </p>
            </div>
        </div>
    </body>
</html>
