<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Edward and Bethan's Wedding</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />

        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Kaushan+Script"
              rel="stylesheet" />

        <style>
            header {
                  padding: 0vh 0 10vh;
            }

            .rsvp {
                margin: 0vh 0 10vh;
                background:rgba(0, 0, 0,0.8);
                padding: 4px 0 17px;
                z-index: 2;
            }

            .rsvp-reminder {
                margin: 0vh 0 0vh;
                background:rgba(0, 0, 0,0.8);
                padding: 5px 0 5px;
                overflow: hidden;
                position: fixed; /* Set the navbar to fixed position */
                top: 0; /* Position the navbar at the top of the page */
                width: 100%; /* Full width */
                z-index: 1;
                display:none;
            }

            @media (min-width: 762px) {
                  header {
                        padding: 0vh 0 40vh;
                  }

                  .rsvp {
                        margin: 0vh 0 30vh;
                        padding: 4px 0 17px;
                  }
            }


            .title {
                font-family: 'Kaushan Script', cursive;
                font-size: 72px;
                text-shadow: 4px 4px 4px #030303;
            }

            .subtitle {
                font-family: 'Cutive Mono', monospace;
                font-size: 48px;
                text-shadow: 1px 1px 0px #030303;
            }

            section {
                  padding: 150px 0;
            }

            .bg-image {
                /* The image used */
                background: red;
                background-image: url("static/images/selfie.png");

                /* Full height */
                height: 100%;

                /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .white {
                  background:rgba(255,255, 255, 0.90);
                  padding-top:1vh;
                  padding-bottom:0vh;
                  margin-top:0vh;
                  margin-bottom:0.5em;
            }

            .light {
                  background:rgba(130,170, 170, 1);
                  padding-top:0.5vh;
                  padding-bottom:0.5vh;
                  margin-bottom:0vh;
            }

            .dark {
                  background:rgba(241,234,220, 1);
                  padding-top:2vh;
                  padding-bottom:2vh;
                  margin-bottom:0vh;
            }

            footer {
                  background:rgba(0, 0, 0, 0.80);
                  padding-top:0.5vh;
                  padding-bottom:0.5vh;
                  margin-bottom:0vh;
            }

            .scaled-image {
                width:100%
            }

            .scaled-panorama {
                width:100%
            }
        </style>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
            const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            function handleSubmit() {
                const email = document.getElementById('email').value;

                if (!emailRegex.exec(email)) {
                    alert("That is probably not a valid email. Please try another");
                    return;
                }

                document.getElementById('email').disabled = true;
                document.getElementById('email-button').disabled = true;

				$.post("/validate_email", { email }, (data) => {
					if (data === "success") {
                       document.getElementById('email-entry').style.display = 'none';
                       document.getElementById('code').value = '';
                       document.getElementById('email-confirmation').style.display = 'block';
					}
					else if (data === "rsvp") {
					   window.location.href = "/rsvp";
					}
					else {
                        alert("That is probably not a valid email. Please try another");
					}
				});
            }

            function handleSubmit2() {
                const code = document.getElementById('code').value;

				$.post("/validate_code", { code }, (data) => {
					if (data === "success") {
					   window.location.href = "/rsvp";
					}
                    else if (data === 'BLOCKED')
                    {
                        alert('You have entered the wrong code too many times. ' +
                              'Please wait a few hours and try again.')
                    }
					else {
                        console.log(data)
                        alert("Please enter the code that was sent to your email address");
					}
				});
            }

            function handleSendAgain() {
                const email = document.getElementById('email').value;

				$.post("/send_again", { email }, (data) => {
                    if (data == 'BLOCKED') {
                        alert('Try again later. You\'re blocked!');
                    }

                    if (data == 'success')
                    {
                        alert('A new email has been sent to ' + email +
                              '. Give it a few minutes, if it never turns up: Contact Edward!')
                    }
				});
            }

            function scrollToTop() {
                window.scrollTo(0, 0);
            }

            window.onscroll = function() {
                var rsvpReminder = document.getElementById("rsvp-reminder");
                // TODO: Use some kind of real offset
                if (window.pageYOffset >= 100) {
                    rsvpReminder.style.display = 'block';
                }
                else {
                    rsvpReminder.style.display = 'none';
                }
            };

        </script>
    </head>
    <body>

        <!-- Had to put it here to get it to work! -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>

        <header class="bg-image text-white ">

            <div class="rsvp text-center" role="alert">

                <div id="email-entry">
                    <h2><strong>RSVP</strong></h2>
                    <p>Please let us know if you can attend by <strong>Thursday 31st May 2018</strong></p>

                    <form id='form' class='form-inline justify-content-center' action="javascript:void()">
                        <div class="form-group">
                            <input id="email" type="email" class='form-control ml-2 mr-2' placeholder="Your email address" value='{{ email }}'/>
                            <button id="email-button"onclick="handleSubmit()" class='btn btn-primary'>&lt;Go&gt;</button>
                        </div>
                    </form>
                </div>

                <div id="email-confirmation" style="display: none">
                    <h2>RSVP</h2>
                    <p>A confirmation code has been sent to your email address,
                       please copy and paste it here
                       (<a href='#' onclick='handleSendAgain()'>Send Again</a>)</p>
                    <form id='form' class='form-inline justify-content-center' action="javascript:void()">
                        <div class="form-group">
                            <label>Confirmation code</label>
                            <input id="code" type="text" class='form-control ml-2 mr-2' value='{{ code }}'/>
                            <button onclick="handleSubmit2()" class='btn btn-primary'>&lt;GO&gt;</button>
                        </div>
                    </form>
                </div>

            </div>

            <div id="rsvp-reminder" class="rsvp-reminder text-center">
                <button class="btn btn-primary" onclick='scrollToTop()'>Click here to <strong>RSVP</strong></button>
            </div>

            <div class="container text-center">
                <h1 class='title'>Bethan &amp; Edward's Wedding</h1>
                <h2 class='subtitle'>Saturday 11th August 2018</h2>
            </div>

        </header>

        {% if day_guest %}
        <div class="light">
            <div class="container text-center">
                <h2>Ceremony</h2>
            </div>
        </div>
        <div class="dark">
            <div class="container text-center">
                <h4>St Philip's Church, Maidstone</h4>
                <p>Arrive at <strong>12:30</strong> to be seated by <strong>12:45</strong></p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src='static/images/st_phillips.JPG' class='scaled-image mb-2' />
                    </div>
                    <div class="col-lg-6 text-left white card card-body" >
                        <p>The wedding ceremony will take place in St Philip's
                        church in Maidstone. We have a deep personal connection to
                        this church as it is the church in which Bethan was
                        christened.</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-info btn mb-2" type="button" data-toggle="collapse"
                        data-target="#churchCollapse" aria-expanded="false" aria-controls="churchCollapse">
                    More...
                </button>
            </div>

            <div class="collapse" id="churchCollapse">
                <div class="card card-body">
                    <div class='container justify-content-center'>
                        <div class='row justify-content-left text-left'>
                            <p>The church is located near Maidstone Grammar School.</p>
                            <p>There is limited on street parking around the
                            church, and a number of nearby paid car parks
                            including: </p>
                            <p><ul>
                                <li>
                                    <a href="http://maps.google.co.uk/?ll=51.268674,0.525018&spn=0.000608,0.001742&t=h&z=20">
                                    Brunswick Street</a> (0.2 miles) <strong>ME15 6NP</strong>
                                </li>
                                <li>
                                    <a href="http://maps.google.co.uk/?ll=51.271053,0.529074&spn=0.001217,0.003484&t=h&z=19">
                                    Mote Road</a> (0.3 miles) <strong>ME15 6ET</strong></li>
                            </ul></p>
                        </div>
                        <div class='row justify-content-left text-left'>
                            <p>You can pay for parking with coins (non-crypto), or with the <a href="https://www.myringgo.co.uk/">RingGo</a> app.</p>
                        </div>
                        <h3>Location of the Church</h3>
                        <iframe width="100%" height="450" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?q=st%20philips%20church%20maidstone&key=AIzaSyBcO1PPLgjlC5-AO-8qX-FY8zKHnrz3YVA"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}

        <div class="light">
            <div class="container text-center">
                <h2>Reception</h2>
            </div>
        </div>

        <div class="dark">
            <div class="container text-center">
                <h4>Windyridge, Offham</h4>
                {% if day_guest %}
                <p><strong>15:00</strong> till <strong>midnight</strong></p>
                {% else %}
                <p><strong>19:30</strong> till <strong>midnight</strong></p>
                {% endif %}
            </div>

            <div class="container text-center">
                <div class="row flex-column-reverse flex-lg-row">
                    <div class="col-lg-6 text-left white card card-body" >
                        <p>Our reception will take place at Edward's Grandma's
                        garden in Offham, West Malling. We will be
                        providing some transport from the church to the
                        field so please let us know in the RSVP if you will
                        be using this.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src='static/images/windyridge.jpg' class='scaled-image mb-2' />
                    </div>
                </div>
            </div>

            <div class='text-center'>
                <button class="btn btn-info btn mb-2" type="button" data-toggle="collapse"
                        data-target="#receptionCollapse" aria-expanded="false" aria-controls="receptionCollapse">
                    More...
                </button>
            </div>

            <div class="collapse" id="receptionCollapse">
                <div class="card card-body ">
                    <div class='container justify-content-center'>
                        <div class='row justify-content-left text-left'>
                            <p>The reception venue (ME19 5NH) is down a narrow road (Tower Hill) and there will be no parking at the bottom.</p>
                            <p>Instead, if you are driving, we kindly ask you to park in <a href="https://www.google.co.uk/maps/@51.2926007,0.3755175,17z">a nearby field</a> (ME19 5NY) and walk down to the venue.</p>
                        </div>
                        <h3>Location of the Reception</h3>
                        <iframe width="100%" height="450" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?q=51.288914%2C%200.376690&key=AIzaSyBcO1PPLgjlC5-AO-8qX-FY8zKHnrz3YVA" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="light">
            <div class="container text-center">
                <h2>Schedule</h2>
            </div>
        </div>
        <div class="dark">
            <div class="container text-center">
                <p>We're still sorting out the exact timings of the day, here is the provisional schedule</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 text-left white card card-body" >
                        <ul>
                            {% if day_guest %}
                            <li><strong>12:30</strong> - Arrive at church</li>
                            <li><strong>13:00</strong> - Wedding ceremony</li>
                            <li><strong>13:45</strong> - Photographs outside church</li>
                            <li><strong>14:15</strong> - Travel to Offham</li>
                            <li><strong>15:00</strong> - Welcome drinks &amp; Canapes</li>
                            <li><strong>16:00</strong> - Speeches</li>
                            <li><strong>16:15</strong> - Breakfast</li>
                            <li><strong>17:30</strong> - Free time</li>
                            <li><strong>19:30</strong> - Evening guests arrive</li>
                            {% else %}
                            <li><strong>19:30</strong> - Arrive at Windyridge</li>
                            {% endif %}
                            <li><strong>20:00</strong> - First dance</li>
                            <li><strong>00:00</strong> - Lights out</li>
                        </ul>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>

        <div class="light">
            <div class="container text-center">
                <h2>Menu</h2>
            </div>
        </div>
        <div class="dark">
            <div class="container">
                <div class="row">
                    {% if day_guest %}
                    <div class="col-lg-6">
                        <div class="text-center">
                            <h3>Wedding Breakfast</h3>
                        </div>
                        <div class="col-lg-12 white card card-body">
                            <p>From <strong>16:15</strong> until <strong>17:30</strong>
                               A BBQ lunch will be served in the Marquee:</p>
                            <h4>Meats</h4>
                            <ul>
                                <li>Peri Peri chicken breast</li>
                                <li>Sweet and sour king prawns</li>
                                <li>Spiced lamb kofta with a beetroot and apple raita</li>
                                <li>Selection of butchers sausages</li>
                            </ul>
                            <h4>Vegetarian/Vegan Options</h4>
                            <ul>
                                <li>BBQ Jackfruit in buns (Vegan)</li>
                                <li>Spicy Vegan burgers</li>
                                <li>Portobello mushrooms with Tzatzdiki and caramelised onions</li>
                                <li>Halloumi & vegetable kebabs</li>
                            </ul>
                            <h4>Sides/Salads</h4>
                            <ul>
                                <li>Mediterranean vegetables (v)</li>
                                <li>Garlic and rosemary potatoes (v)</li>
                                <li>Greek salad with feta cheese (v)</li>
                                <li>Garlic pesto pasta salad (v)</li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-3">
                    </div>
                    {% endif %}
                    <div class="col-lg-6">
                        <div class="text-center">
                            <h3>Evening</h3>
                        </div>
                        <div class="col-lg-12 white card card-body">
                            <p>From <strong>20:00</strong> until <strong>23:00</strong>
                            there will be a Pizza van</p>
                            <p>Menu <strong>TBC</strong></p>
                            <h4>Pizza</h4>
                            <ul>
                                <li>Marinara Pizza</li>
                                <li>Margherita Pizza</li>
                                <li>Pepperoni Pizza</li>
                                <li>Napoletana Pizza</li>
                                <li>Prosciutto e Funghi Pizza</li>
                                <li>4 Formaggi, Noci, and Porcini Pizza</li>
                                <li>Calabrese Pizza</li>
                                <li>Hawaiian Pizza</li>
                                <li>4 Stagioni Pizza</li>
                                <li>Vegetariana Pizza</li>
                            </ul>
                            <h4>Calzoni</h4>
                            <ul>
                                <li>Verace Calzoni</li>
                                <li>Italian Salumi Calzoni</li>
                            </ul>
                        </div>
                    </div>
                    {% if day_guest %}
                    {% else %}
                    <div class="col-lg-3">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="light">
            <div class="container text-center">
                <h2>Accomodation &amp; Taxis</h2>
            </div>
        </div>

        <div class="dark">
            <div class="container">
                <div class="row white card card-body">
                    <h4>Accomodation</h4>
                    <p>
                        Since the on-site AirBnB has already been booked up, we reccomend you
                        book alternative accomodation. To the best of our knowledge, this is the only
                        AirBnB in the village. There are a few other AirBnBs near-by, but we're certain
                        they're terrible so don't stay in them (or do and leave a bad review!)
                    </p>
                    <p>
                       There are a few hotels near Offham, some of which claim to be in Sevenoaks
                       but are actually in Wrotham Heath. These luxury establishments boast incredible
                       proximity to the M26 Junction on the A20! These hotels are probably slightly beyond
                       a safe walking distance after midnight:
                    </p>
                    <ul>
                        <li>Holiday Inn (The Posthouse) - 2.1 miles</li>
                        <li>Premier Inn (The Beafeater) - 1.9 miles</li>
                    </ul>
                    <p>
                        In the direction of Maidstone, Larkfield has two hotels:
                    </p>
                    <ul>
                        <li>Premier Inn (Castle Lake) - 2.9 miles</li>
                        <li>Priory Hotel - 2.1 miles</li>
                    </ul>
                    <p>
                        Maidstone has many more hotels, including an award winning Travelodge!
                        Finding these is an excercise left for the reader.
                    </p>
                    <p>
                        There are also a few 'boutique' hotels and B&amp;Bs in the area. Form a quick Google
                        search, there are around eigth hotel rooms in West Malling. We've actually just booked
                        one so now there are only seven.
                    </p>
                    <p>
                        We are still negotiating camping space with the venue management, watch this
                        space for more developments on this.
                    </p>

                    <h4>Taxis</h4>
                    <p>Unfortunately there aren't many Ubers in Offham and hailing a cab can be quite tricky.
                       Instead, here are a few local taxi companies:</p>
                    <ul>
                        <li>
                            <a href="http://www.westmallingtaxis.co.uk/">West Malling Taxis</a>
                            - 01732 845535
                        </li>
                        <li>
                            <a href="http://www.kingshillcars.com/">Kingshill Cars</a>
                            - 01732 871234
                        </li>
                        <li>
                            <a href="https://www.bgtaxis.com/">Borough Green Station Cars</a>
                            - 01732 882020
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="light">
            <div class="container text-center">
                <h2>Gifts</h2>
            </div>
        </div>

        <div class="dark">
            <div class="container">
                <div class="row white card card-body">
                    <p>
                        Since we have been living together for the past two years we've already accumulated
                        all the physical possesions that exist -- we even have a cordless Dyson. As we
                        are also planning on moving to New York in the next year or so, we're already looking
                        for ways to get rid of stuff: anyone want a used sofa bed?
                    </p>
                    <p>
                    <em>In all honesty, your presence at our wedding is the most important thing to us!</em>
                    </p>
                    <p>
                        If however, you are overcome by the desire to follow tradition and do want to give
                        a gift, we would be extremely appreciative of any donations towards out honeymoon.
                        We're planning on visting Sri Lanka, we'll post a link to a register on this page
                        as soon as we've booked something!
                    </p>
                </div>
            </div>
        </div>

        <div class="light">
            <div class="container text-center">
                <h2>Contact Us</h2>
            </div>
        </div>

        <div class="dark">
            <div class="container">
                <div class="row white card card-body">
                    {{ contact_details|safe }}
                </div>
            </div>
        </div>


        <footer class="text-white text-center">Don't forget to <strong onclick="scrollToTop()">RSVP!<strong></footer>
    </body>
</html>
